@model ListProducts
@{
    ViewData["Title"] = "Home Page";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <img src="~/images/Banner1.jpg" class="img-responsive" alt="Imagen responsive">
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<hr class="hr" />
<div class="section">
    <div class="container">
        <div class="row grid-divider">
            <div class="col-md-4 col-xs-12">
                <div class="col-padding">
                    <h4 class="text-center">Contact</h4>
                    <ul>
                        <li>Mobile: </li>
                        <li>Address: Bv. Los Alemanes 3800 , Barrio Los Boulevares</li>
                        <li>E-mail: maxir_flores@hotmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="col-padding">
                    <h4 class="text-center">Blog</h4>
                    <ul>
                        <li>Asp.Net Core with Docker</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="col-padding">
                    <h4 class="text-center">About</h4>
                    <ul>
                        @Html.Partial("DescriptionAbout")
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="hr" />
<br />
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section">
                    <h2 class="text-center">Recents Products</h2>
                    <div>
                        @{
                            for (int i = 0; i < Model.products.Count; i++)
                            {
                                bool renderNewRow = i % 4 == 0 ? true : false;
                                if (renderNewRow)
                                {
                                    @Html.Raw("<div class=\"row\">");
                                    foreach (var items in Model.products.Skip(i).Take(4))
                                    {
                                        <div class="col-md-3">
                                            @if (items.image != "")
                                            {
                                                <img src="@items.image" class="img-responsive" width="200" height="150">
                                            }
                                            else
                                            {
                                                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                                                     class="img-responsive">
                                            }
                                            <h3>@items.name</h3>
                                            <h4>@items.price</h4>
                                            <p>
                                                @*@items.Descripcion*@
                                            </p>
                                            <p></p>
                                        </div>
                                    }
                                    if (renderNewRow)
                                    {
                                        @Html.Raw("</div>");
                                        <br />
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>